<button class="btn waves-effect #ef9a9a red lighten-3 btn-large" type="submit" name="action">Talk
  <i class="material-icons right">mic</i>
</button>

<h3 id="content"></h3>
<div id="contentDiv"></div>

<table class="highlight">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
    </tr>
  </thead>

  <tbody>
    <tr class="items">
      {{!-- <td class="itemName">Eclair</td> --}}
      {{!-- <td class="itemPrice">$0.87</td> --}}
    </tr>
  </tbody>
</table>
<style>
  .highlight{
    font-size: 18px;
  }
</style>
